@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  background: rgb(19, 19, 19);
  color: #fff;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#mod {
  font-family: 'El Messiri', sans-serif;
}
/* navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #4CAF50;
  color: white;
}
/* cards */
/* .card a p {display:none;} */
/* .card a:hover p {display:block;} */
/* .card a:hover {display:block;} */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #272020;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 98%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover{
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
.cards:hover:after{
  content: attr(data-hover);
  background-color: #272020;
  color: aliceblue;
  line-height: 28px;
  font-weight: 200;
  text-align: center;
}
/* text */
.text {
  background-color: rgb(105, 109, 105);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 70%;
}
/* containers */
.container {
  position: relative;
  width: 100%;
}
.container1 {
  position: relative;
  width: 100%;
}
.container2 {
  position: relative;
  width: 100%;
}
.container4 {
  position: relative;
  width: 100%;
}
.container5 {
  position: relative;
  width: 100%;
}
.container6 {
  position: relative;
  width: 100%;
}
.container7 {
  position: relative;
  width: 100%;
}
.container8 {
  position: relative;
  width: 100%;
}
.container9 {
  position: relative;
  width: 100%;
}
.container10 {
  position: relative;
  width: 100%;
}
.container11 {
  position: relative;
  width: 100%;
}
.container12 {
  position: relative;
  width: 100%;
}
.container13 {
  position: relative;
  width: 100%;
}
/* images */
.image1 {
  opacity: 1;
  display: block;
  width: auto;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image3 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image4 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image5 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image6 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image7 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image8 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image9 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image10 {
  opacity: 1;
  display: block;
  width: auto;
  height: 100% ;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image11 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image12 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* middle */
.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle6 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle7 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle8 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle9 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle10 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle11 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle12 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* container:hover .image */
.container1:hover .image1  {
  opacity: 0.3;
}

.container2:hover .image2 {
  opacity: 0.3;
}
.container3:hover .image3 {
  opacity: 0.3;
}
.container4:hover .image4  {
  opacity: 0.3;
}

.container5:hover .image5  {
  opacity: 0.3;
}
.container6:hover .image6 {
  opacity: 0.3;
}
.container7:hover .image7 {
  opacity: 0.3;
}
.container8:hover .image8  {
  opacity: 0.3;
}
.container9:hover .image9 {
  opacity: 0.3;
}
.container10:hover .image10 {
  opacity: 0.3;
}
.container11:hover .image11  {
  opacity: 0.3;
}
.container12:hover .image12  {
  opacity: 0.3;
}
/* container:hover .middle */
.container1:hover .middle1{
  opacity: 1;
}

.container2:hover .middle2  {
  opacity: 1;
}
.container3:hover .middle3{
  opacity: 1;
}
.container4:hover .middle4  {
  opacity: 1;
}
.container5:hover .middle5{
  opacity: 1;
}
.container6:hover .middle6  {
  opacity: 1;
}
.container7:hover .middle7 {
  opacity: 1;
}
.container8:hover .middle8 {
  opacity: 1;
}
.container9:hover .middle9 {
  opacity: 1;
}
.container10:hover .middle10 {
  opacity: 1;
}
.container11:hover .middle11  {
  opacity: 1;
}

.container12:hover .middle12{
  opacity: 1;
}
/* Div buttons */
.square_btn{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color:black;
  background-image: -webkit-linear-gradient(45deg, #fff, rgb(95, 94, 94));
  background-image: linear-gradient(45deg,#fff, rgb(95, 94, 94));
  transition: .4s;
}
.square_btn:hover {
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
